# files and folders starting with a dot
.* export-ignore

# composer
composer.lock export-ignore

# node
package.json export-ignore
pnpm-lock.yaml export-ignore
node_modules export-ignore

# tests
tests export-ignore
phpstan.neon export-ignore

# other
pint.json export-ignore
AGENTS.md export-ignore
CLAUDE.md export-ignore
CHANGELOG.md export-ignore
